<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<th:block th:replace="common/template :: common-head(title='Account Overview')"/>

<body>
<!-- Navigation Section -->
<th:block th:replace="common/template :: common-navbar"/>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card mb-5 mt-5" style="background-color: #d9edf7">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm">
                            <!--<i class="fa fa-comments fa-5x"></i>-->
                            <h2 class="text-nowrap">Checking Balance: </h2>
                        </div>
                        <div class="col-sm text-end">
                            <h1><i class="fa fa-usd" aria-hidden="true"></i> <span
                                    th:inline="text">$ [[${checkingAccount?.checkingBalance}]]</span></h1>
                        </div>
                    </div>
                </div>
                <a>
                    <div class="card-body" style="background-color: #fff">
                        <span class="float-start">View Details</span>
                        <span class="float-end"><i class="fa fa-arrow-circle-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="card" style="background-color:#dff0d8 ">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm">
                            <h2 class="text-nowrap">Savings Balance: </h2>
                        </div>
                        <div class="col-sm text-end">
                            <h1><i class="fa fa-usd" aria-hidden="true"></i> <span
                                    th:inline="text">$ [[${savingsAccount?.savingsBalance}]]</span></h1>
                        </div>
                    </div>
                </div>
                <a>
                    <div class="card-body" style="background-color: #fff">
                        <span class="float-start">View Details</span>
                        <span class="float-end"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card mb-5 mt-5">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm">
                            <i class="fa fa-credit-card fa-5x"></i>
                        </div>
                        <div class="col-sm text-end">
                            <div>Deposit</div>
                        </div>
                    </div>
                </div>
                <a>
                    <div class="card-body">
                        <span class="pull-left">Go to Deposit</span>
                        <span class="float-end"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card mb-5 mt-5">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm">
                            <i class="fas fa-money-bill-alt fa-5x"></i>
                        </div>
                        <div class="col-sm text-end">
                            <div>Withdraw</div>
                        </div>
                    </div>
                </div>
                <a>
                    <div class="card-body">
                        <span class="pull-left">Go to Withdrawal</span>
                        <span class="float-end"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

<div th:replace="common/template :: common-scripts"></div>
</body>
</html>