<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<th:block th:replace="common/template :: common-head(title='..:: Online Banking | Home ::..')"/>

<body>
<!-- Login Section -->
<img class="img-fluid" src="#" th:src="@{/images/banner.png}" alt="banner"/>
<div class="container">
    <div class="row ">
        <div class="main-center ">
            <div class="bg-warning" th:if="${param.error}">
                Invalid username and secret.
            </div>
            <div class="bg-warning" th:if="${param.logout}">
                You have been logged out.
            </div>
            <form class="form-signin" th:action="@{/}" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Username"
                           name="username"
                           id="username"
                           required autofocus>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password"
                           class="form-control"
                           placeholder="Password"
                           id="password"
                           name="password"
                           required>
                </div>
                <div class="form-group">
                    <label for="remember-me" class="sr-only"></label>
                    <input type="checkbox" name="remember-me" id="remember-me"> &nbsp; Remember me
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

            <hr/>

            <div class="form-group">
                <a th:href="'#'">Forgot Password?</a>
            </div>
            <div class="form-group ">
                <a type="submit" class="btn btn-info btn-lg btn-block login-button" th:href="@{/signup}">Sign up!</a>
            </div>
        </div>
    </div>
</div>


<!--Common Body Scripts-->
<div th:replace="common/template :: common-scripts"></div>
</body>
</html>